/* fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior
  
  :smooth;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



*{
  font-family: "Poppins", sans-serif;
  color: rgb(37, 37, 37);
  margin: 0;
  padding: 0;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

nav{
  position: fixed;
  top: -53px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 50px;
  transition: all .5s;
  background-color: white;
  border-bottom: 1px solid rgb(214, 214, 214);
  z-index: 1;
}
nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 40%;
}
nav ul li{
  list-style: none;
  transition: all .1s;
  border-bottom: 0px solid rgb(255, 193, 214);
}
nav ul li a{
  text-decoration: none;
}
 nav ul li:hover{
  border-bottom: 3px solid rgb(255, 193, 214);
 }

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}
.pink{
  color: rgb(255, 193, 214);
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1200px;
  
}

.hero{
  width: 45%;
  min-width: 310px;
}
.hero-text{
  font-size: max(3.5vw, 40px);
}
.hero h2{
  font-size: 30px;
}
.hero p{
  font-size: 20px;
  margin-top: 20px;
}

.links{
  margin-top: 20px;
  margin: 20px auto;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-around;
  max-width: 350px;
  font-size: max(1.6vw, 25px); 
}
.links div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 7px;
  border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
  animation: morph 10s linear infinite alternate, spin 10s linear infinite running;
  transition: all .3s ease-in-out;
}
.links div:hover a{
  background-color: rgba(255, 193, 214, 0.452);
  width: 10px;
  height: 10px;
  padding: 7px;
  animation: pulse 1.3s linear infinite alternate, morph 10s linear infinite alternate, spin 10s linear infinite running;
  transition: all ease-in-out .3s;
}

@keyframes pulse{
    0%{
        width: 35px;
        height: 35px;
    }
    100%{
        width: 45px;
        height: 45px;
    }
}

@keyframes morph{
  0%{
      border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
  }
  100%{
      border-radius: 40% 60% 40% 60%/ 55% 45% 45% 55%;
  }
}

@keyframes spin{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}



.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 500px;
    min-width: 200px;
}
.img-container img{
    transform: translateY(10px);
    width: 100%;
}
.art1{
    overflow: hidden;
    z-index: -1;
    background-color: rgb(255, 193, 214);
    width: 100%;
    max-width: 450px;
    border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
}



#technology{
  display: flex;
  width: 110%;
  height: 100px;
  margin-bottom: 30px;
  align-items: center;
  
}
.container i{
  font-size: 4em;
  transition: .3s;
}
.container{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 200%;
  mix-blend-mode: difference;
  animation: marque 10s linear infinite;
  transition: all .3s;
  
}
.container:hover{
  animation-play-state: paused ;
}
 .container span{
  visibility: hidden;
  position: absolute;
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  transform: translate(-20px);
  box-shadow: 0px 0px 8px .2px rgba(0,0,0,.2);
 }

.container i:hover{
  font-size: 5em;
  transform: translate(0, -15px);
}
.container i:hover span{
  visibility: visible;
}
.container i:hover .container{
  animation-play-state: paused;
}
@keyframes marque{
  to {
    transform: translateX(-50%);
  }
}

#experience{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 95vh;
    margin-top: 25px;
}
#experience h1{
  padding-top: 20px;
    font-size: 40px;
    width: 60%;
    font-weight: 400;
    
}
.exp-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 80%;
    transition: .4s;
}
.card{
    padding: 5px 0px 10px 0;
    height: 15%;
    border-bottom: 2px solid rgb(255, 193, 214);
    overflow-y: hidden;
    transition: all .4s;
}
.cardhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardhead h2{
    font-weight: 400;
}
.cardhead img{
    width: 75px;
    border-radius: 50%;
}
.cardbody{
    padding-top: 40px;
}
.cardbody h2{
    font-weight: 300;
    font-size: 20px;
    text-align: right;
}
.cardbody p{
    padding-top: 10px;
    font-weight: 200;
}
.card:hover {
    height: 250px;
    border-bottom: 4px solid rgb(255, 193, 214);
}



#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#projects h1{
  padding-top: 20px;
  font-size: 40px;
  font-weight: 400;
}
.bigger{
  width: 100vw;
  height: 100%;
  overflow-x: scroll;
}
.big{
  display: flex;
  align-self: flex-start;
  height: 90%;
  width: 300vw;
  overflow-x: scroll;
  
}
.p-c{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.proContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 80%;
  /* z-index: -1; */
}
.proDesc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 50%;
}
.proDesc h2{
  font-size: clamp(25px, 2.5vw, 40px);
  font-weight: 300;
}
.proDesc p{
  font-size: clamp(15px, 2vw, 25px);
  font-weight: 200;
}
.proDesc i{
  font-size: 50px;
}
.proContainer iframe{
  width: 120%;
  height: 120%;
  border-style: none;
  border-radius: 40px;
  transform: scale(.7);
}
.proTools{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}


/* Contact */
#contact{
    background-color: rgb(255, 193, 214);
    height: 100vh;
    width: 100%;
}



@media (max-width: 860px) {
  nav{
    justify-content: center;
  }
  nav ul{
    width: 350px;
  }
  .hero-section{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
  }
  .hero{
    width: 80%;
  }
  .links{
    width: 100%;
    float: none;
  }
  .img-container{
    width: 40%;
    min-width: 275px;
  }
  #experience h1{
    width: auto;
  }
  .exp-container{
    width: 90%;
  }
  #projects{
    height: 120vh;
  }
  .proContainer{
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
  .proDesc{
    width: 60%;
  }
  .proTools{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
  }
}