/* fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



*{
  font-family: "Poppins", sans-serif;
  color: rgb(37, 37, 37);
  margin: 0;
  padding: 0;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 110vh;
  width: 100%;
}
.pink{
  color: rgb(255, 193, 214);
}
.hero-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 1200px;
  
}

.hero{
  width: 50%;
}
.hero-text{
  font-size: 3.5vw;
}
.hero h2{
  font-size: 30px;
}
.hero p{
  font-size: 20px;
  margin-top: 20px;
}

.links{
  margin-top: 20px;
  margin: 20px auto;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-around;
  float: left;
  max-width: 350px;
  font-size: max(20px, 1vw); 
}
.links div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 7px;
  border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
  animation: morph 10s linear infinite alternate, spin 10s linear infinite running;
  transition: all .3s ease-in-out;
}
.links a:hover{
  background-color: rgba(255, 193, 214, 0.452);
  width: 30px;
  height: 30px;
  padding: 7px;
}


@keyframes morph{
  0%{
      border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
  }
  100%{
      border-radius: 40% 60% 40% 60%/ 55% 45% 45% 55%;
  }
}

@keyframes spin{
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}



.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
}
.img-container img{
    transform: translateY(10px);
    width: 100%;
}
.art1{
    overflow: hidden;
    z-index: -1;
    background-color: rgb(255, 193, 214);
    width: 100%;
    max-width: 450px;
    border-radius: 65% 35% 45% 55%/ 60% 40% 60% 40%;
}



#technology{
  display: flex;
  /* background-color: rgb(255, 193, 214); */
  width: 110%;
  height: 100px;
  
}
.container i{
  font-size: 4em;
}
.container{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 200%;
  mix-blend-mode: difference;
  animation: marque 10s linear infinite;
  
}
.container:hover{
  animation-play-state: paused;
}
@keyframes marque{
  to {
    transform: translateX(-50%);
  }
}


.mag{
  position: absolute;
  font-size: 8em;
  transform: translate(1850px, -20px);
}
.content{
  position: absolute;
  background-color: rgb(255, 193, 214);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(1864px, -5px);
  z-index: -1;
}
